body {
    color: #424242;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0;
}

.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    width: 100%;
    padding: 10px 40px;
    margin: auto;
    padding-bottom: 0;
}

.block {
    position: absolute;
    width: 100%;
    top: 90px;
    height: 3px;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px;
}

.menu-list {
    display: flex;
    align-items: center;
}

.menu-list li {
    list-style: none;
    margin-right: 20px;
}

.menu-list a {
    color: #424242;
    text-decoration: none;
}

.btn-entrance {
    margin-left: 50px;
    box-sizing: border-box;
    background-color: #b59f5b;
    color: #fff;
    border: none;
    outline: none;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 18px;
    width: 120px;
}

.heading {
    width: 100%;
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 1300px;
    width: 100%;
    margin: 0px auto;
}

.form p {
    font-size: 24px;
    padding: 0 30px;
}

.form .imgCat { 
    width: 150px;
}

.list-test {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1300px;
    width: 100%;
    padding: 0px 40px;
}

.line {
    box-sizing: border-box;
    border: 1px solid #000;
    width: 380px;
    border-radius: 15px;
    margin-top: 40px;
    margin-right: 40px;
}
.line:nth-child(3n) {
    margin-right: 0;
}
.line img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.btn {
    text-align: center;
    padding: 20px;
}
.btn-pass-delet {
    background-color: #b59f5b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    width: 150px;
}


.img-pass-delet {
    width: 35px;
    height: 35px;
}